# Limpieza de datos

In [61]:
import pandas as pd
from pymongo import MongoClient
from dotenv import load_dotenv
import os

load_dotenv()

True

### Poblacion

In [62]:
df = pd.read_csv("descripcion_productos.csv",sep=';', engine='python',skiprows=0,index_col=False)
df

             Producto Laboratorio                Uso          Descripción
0              hyabak        THEA    Sequedad ocular          fdgregre ge
1             thealoz        THEA  Irritación ocular                 gerf
2           zalispray        THEA     Alergia ocular         gfvdfbgvdfbg
3   optiben toallitas       CINFA    Limpieza ocular          dfgfgrfgreg
4  optiben irritacion       CINFA  Irritación ocular  fgregegtrewgeyghreg
5    optiben sequedad       CINFA    Sequedad ocular               bffdsb
6  lephanet toallitas        THEA    Limpieza ocular            sdgfgargh

In [63]:
df.shape

(7, 4)

In [64]:
df.columns

Index(['Producto', 'Laboratorio', 'Uso', 'Descripción'], dtype='object')

In [65]:
df.isna().sum()

Producto       0
Laboratorio    0
Uso            0
Descripción    0
dtype: int64

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Producto     7 non-null      object
 1   Laboratorio  7 non-null      object
 2   Uso          7 non-null      object
 3   Descripción  7 non-null      object
dtypes: object(4)
memory usage: 352.0+ bytes

In [67]:
df.describe(include = 'object')

       Producto Laboratorio              Uso  Descripción
count         7           7                7            7
unique        7           2                4            7
top      hyabak        THEA  Sequedad ocular  fdgregre ge
freq          1           4                2            1

In [77]:
user = os.getenv("MONGO_USER")
password = os.getenv("MONGO_PASS")

In [78]:
url = f"mongodb+srv://{user}:{password}@salud-ocular.kpvby.mongodb.net/test"
client = MongoClient(url)
client

ConfigurationError: The "dnspython" module must be installed to use mongodb+srv:// URIs. To fix this error install pymongo with the srv extra:
 C:\Users\usuario\AppData\Local\Programs\Python\Python39\python.exe -m pip install "pymongo[srv]"

In [52]:
db = client.get_database("databcn")
db

Database(MongoClient(host=['databcn-shard-00-02.ot3vw.mongodb.net:27017', 'databcn-shard-00-01.ot3vw.mongodb.net:27017', 'databcn-shard-00-00.ot3vw.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-bnysob-shard-0', ssl=True), 'databcn')

In [53]:
hola = df1.to_dict("index")
pob = [i for i in hola.values()]

In [54]:
db.poblacion.insert_many(pob)

### Desempleo

In [58]:
dfu = pd.read_csv("../data/Data-csv/unemployment.csv")
dfu.head()

,Year,Month,District Code,District Name,Neighborhood Code,Neighborhood Name,Gender,Demand_occupation,Number
0,2017,January,1,Ciutat Vella,1,el Raval,Male,Registered unemployed,2107
1,2017,January,1,Ciutat Vella,2,el Barri Gòtic,Male,Registered unemployed,538
2,2017,January,1,Ciutat Vella,3,la Barceloneta,Male,Registered unemployed,537
3,2017,January,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Male,Registered unemployed,741
4,2017,January,2,Eixample,5,el Fort Pienc,Male,Registered unemployed,630

In [59]:
dfu.shape

(14208, 9)

In [60]:
dfu.columns

Index(['Year', 'Month', 'District Code', 'District Name', 'Neighborhood Code',
       'Neighborhood Name', 'Gender', 'Demand_occupation', 'Number'],
      dtype='object')

In [61]:
dfu.duplicated(['Year', 'Month', 'District Code', 'District Name', 'Neighborhood Code',
       'Neighborhood Name', 'Gender', 'Demand_occupation', 'Number']).sum()

0

In [87]:
dfu.isna().sum()

Year                 0
Month                0
District Name        0
Neighborhood Name    0
Gender               0
Demand_occupation    0
Number               0
dtype: int64

In [90]:
dfu["Demand_occupation"].unique()

array(['Registered unemployed', 'Unemployment demand'], dtype=object)

In [72]:
dfu = dfu.drop(columns=['District Code', 'Neighborhood Code'])

In [73]:
dfu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14208 entries, 0 to 14207
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               14208 non-null  object
 1   Month              14208 non-null  object
 2   District Name      14208 non-null  object
 3   Neighborhood Name  14208 non-null  object
 4   Gender             14208 non-null  object
 5   Demand_occupation  14208 non-null  object
 6   Number             14208 non-null  int64
dtypes: int64(1), object(6)
memory usage: 777.1+ KB

In [75]:
dfu['Year']=dfu['Year'].astype('str')

In [78]:
df.describe(include = 'all')

         Year District.Name Neighborhood.Name Gender    Age        Number
count   70080         70080             70080  70080  70080  70080.000000
unique      5            10                73      2     20           NaN
top      2017    Nou Barris          el Raval   Male    0-4           NaN
freq    14016         12480               960  35040   3650           NaN
mean      NaN           NaN               NaN    NaN    NaN    114.844720
std       NaN           NaN               NaN    NaN    NaN     96.540389
min       NaN           NaN               NaN    NaN    NaN      0.000000
25%       NaN           NaN               NaN    NaN    NaN     43.000000
50%       NaN           NaN               NaN    NaN    NaN     92.000000
75%       NaN           NaN               NaN    NaN    NaN    162.000000
max       NaN           NaN               NaN    NaN    NaN    777.000000

In [80]:
number_ze = dfu[dfu["Number"] == 0].index
number_ze

Int64Index([  295,   591,  1183,  1479,  2071,  2663,  2959,  3699,  3847,
             4143,  4439,  4735,  7103,  7251,  7399,  7547,  7695,  7843,
             7991,  8139,  8287,  8435,  8583,  8731,  8879,  9027,  9323,
            10063, 10729, 10803, 10877, 11395, 11543, 11691, 11765, 12061,
            12135, 12283, 12653, 12875, 12949, 13319, 13615, 13985, 14207],
           dtype='int64')

In [82]:
dfu1 = dfu.drop(number_ze)
dfu1

,Year,Month,District Name,Neighborhood Name,Gender,Demand_occupation,Number
0,2017,January,Ciutat Vella,el Raval,Male,Registered unemployed,2107
1,2017,January,Ciutat Vella,el Barri Gòtic,Male,Registered unemployed,538
2,2017,January,Ciutat Vella,la Barceloneta,Male,Registered unemployed,537
3,2017,January,Ciutat Vella,"Sant Pere, Santa Caterina i la Ribera",Male,Registered unemployed,741
4,2017,January,Eixample,el Fort Pienc,Male,Registered unemployed,630
...,...,...,...,...,...,...,...
14202,2013,December,Sant Martí,Diagonal Mar i el Front Marítim del Poblenou,Female,Registered unemployed,458
14203,2013,December,Sant Martí,el Besòs i el Maresme,Female,Registered unemployed,1043
14204,2013,December,Sant Martí,Provençals del Poblenou,Female,Registered unemployed,738
14205,2013,December,Sant Martí,Sant Martí de Provençals,Female,Registered unemployed,1015
14206,2013,December,Sant Martí,la Verneda i la Pau,Female,Registered unemployed,1145

In [91]:
up = dfu1.to_dict("index")
des = [i for i in up.values()]

In [92]:
db.desempleo.insert_many(des)